<li>
<div class="js-stream-items stream-items" id="stream-items-id"><div class="js-stream-item stream-item stream-item" data-item-id="442611027" data-item-type="user">

<div class="account  js-actionable-user js-profile-popup-actionable " data-screen-name="<%=fullname%>" data-user-id="442611027">



    <div class="js-follow-combo follow-combo btn-group js-actionable-user <%=status%>" data-user-id="442611027" data-screen-name="<%=fullname%>">
  <a class="follow-btn btn js-combo-btn js-recommended-item">
    <div class="js-action-follow follow-text action-text" data-user-id="442611027">
      <i class="follow"></i>
      Follow
    </div>
    <div class="js-action-unfollow following-text action-text" data-user-id="442611027">
      Following
    </div>
    <div class="js-action-unfollow unfollow-text action-text" data-user-id="442611027">
      Unfollow
    </div>
    <div class="block-text action-text">
      Blocked
    </div>
    <div class="js-action-unblock unblock-text action-text" data-user-id="442611027">
      Unblock
    </div>
    <div class="js-action-unfollow pending-text action-text" data-user-id="442611027">
      Pending
    </div>
    <div class="js-action-unfollow cancel-req-text action-text" data-user-id="442611027">
      Cancel
    </div>
  </a>

</div>  <div class="content">
    <div class="stream-item-header">
      <a class="account-group js-user-profile-link" href="https://twitter.com/<%=fullname%>">
        <img class="avatar js-action-profile-avatar " src="./Twitter   People 2 is following_files/rtggxnxtpyso8pddc4gh_normal.png" alt="<%=fullname%>" data-user-id="442611027">
        <strong class="fullname js-action-profile-name"><%=fullname%></strong>
        <span>‏</span>

        <span class="username js-action-profile-name">@<%=fullname%></span>
      </a>
    </div>
      <p class="bio ">Status : Deceased. Revelation 21:4</p>

  </div>
</div>
</div>
</li>