<li id="stream-item-<%=tweet_id%>" style="display:none">
<div class="js-stream-item stream-item stream-item expanding-stream-item" data-item-id="224970532737654784"
     data-item-type="tweet" id="stream-item-tweet-224970532737654784">


    <div class="tweet original-tweet js-stream-tweet js-actionable-tweet js-hover js-profile-popup-actionable js-original-tweet




 with-social-proof

" data-tweet-id="224970532737654784" data-item-id="224970532737654784" data-screen-name="<%=user_id%>"
         data-name="<%=fullname%>" data-user-id="46452468" data-is-reply-to="">


        <i class="dogear"></i>


        <div class="content">


            <div class="stream-item-header">
                <small class="time">
                    <a href="#"
                       class="tweet-timestamp js-permalink" title=""><span
                            class="_timestamp js-short-timestamp " days="<%=timestamp["days"]%>" hours="<%=timestamp["hours"]%>" minutes="<%=timestamp["minutes"]%>" data-time="1342472130000"
                            data-long-form="true"><%=timestamp_readable%></span></a>
                </small>
                <a class="account-group js-account-group js-action-profile js-user-profile-link"
                   href="/<%=user_id%>" data-user-id="46452468">
                    <img class="avatar js-action-profile-avatar" src="data:image/jpeg;base64,<%=dp%>"
                         alt="<%=fullname%>">
                    <strong class="fullname js-action-profile-name show-popup-with-id"><%=fullname%></strong>
                    <span>‏</span><span class="username js-action-profile-name"><s>@</s><b><%=user_id%></b></span>
                </a>
            </div>


            <p id="tweet-text_<%=tweet_id%>" class="js-tweet-text"><%=text%></p>


            <div class="stream-item-footer">




                <ul class="tweet-actions js-actions">

                    <li class="action-rt-container">
                        <a class="with-icn js-toggle-rt" data-modal="tweet-retweet" href="javascript:retweet(<%=tweet_id%>);" id ="retweet-button">
                            <i class="sm-rt"></i>


                            <b><span class="undo-retweet" title="Undo retweet">Retweeted</span>
                            <span class="retweet" title="Retweet">Retweet</span></b>
                        </a>
                    </li>

                </ul>
            </div>



        </div>
    </div>

</div></li>